<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/design.css">
</head>

<body>
	<form name="regform" action="/userSignin" method="POST">
		<div class="container">
			<center>
				<img src="/imgs/logo.jpeg" alt="Company Logo" style="width: 100px; height: 100px">
				<h1><%- error %></h1>
 			</center>
		</div>
	</form>
</body>

</html>