<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crowd Funidng Platfrom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center">
                    <p class="mb-0 phone"><span class="mailus">Office no:</span> <a href="#">+514 502 1514</a> or <span class="mailus">Email us:</span> <a href="#">crowdfunding@gmail.com</a></p>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <div class="social-media">
                        <p class="mb-0 d-flex">
                            <a href="https://www.facebook.com/" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="https://twitter.com/" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="https://www.instagram.com/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">CROWD <span>FUNDING</span> PLATFORM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
                    <li class="nav-item"><a href="/account" class="nav-link">Account</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></li>
                    <li class="nav-item cta"><a href="/logout" class="nav-link">Log Out</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="hero-wrap js-fullheight" style="background-image: url('/imgs/pic6.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate mt-5 pt-md-5" data-scrollax=" properties: { translateY: '70%' }">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">

                            <table>
                                <tr>
                                    <td style="min-width: 300px;">
                                        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>Submit your Ideas</b></p>
                                    </td>
                                    <td style="min-width: 300px;">
                                        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>Project Cataloge</b></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><a href="/submit" class="btn btn-primary px-4 py-3">Submit Project</a></p>
                                    </td>
                                    <td>
                                        <p><a href="/projects" class="btn btn-primary px-4 py-3">View Project</a></p>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-lg-6 heading-section text-center ftco-animate">
                    <h2 class="mb-4">More than <span>50+</span> projects are available for<span> Information Technology</span></h2>
                    <p> A magical and revolutionary device at an unbelievable price. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="services-2 text-center">


                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/imgs/pic7.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <div class="services-2 text-center">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section services-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-6 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Our Companies Exclusive <span> PROJECTS </span></h2>
                </div>
            </div>
            <div class="row d-flex no-gutters">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="line"></div>

                        <div class="media-body">
                            <h3 class="heading mb-3">DataBase Management System</h3>
                            <p> Digit Technology Discussion Forum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="line"></div>

                        <div class="media-body">
                            <h3 class="heading mb-3">Fingerprint based ATM system.</h3>
                            <p>This project is a desktop application that uses the fingerprint of users for authentication</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="line"></div>

                        <div class="media-body">
                            <h3 class="heading mb-3">Automated payroll system with GPS tracking and image capture</h3>
                            <p>The application works something like this – each employee is given an employee ID and password for accessing the app from their Android device.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="line"></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Credit card fraud detection</h3>
                            <p>Credit card fraud is a significant threat in the BFSI sector. This credit card fraud detection system studies and analyzes user behavior patterns and uses location scanning techniques to identify any unusual patterns.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="ftco-footer ftco-footer-2 ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-footer-logo">CROWD<span>FUNDING</span>PLATFORM</h2>
                        <p> Committed to people, Committed to future.</p>
                        <ul class="ftco-footer-social list-unstyled mt-2">
                            <li class="ftco-animate"><a href="twitter.com"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="facebook.com"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="Instagram.com"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Need to Contact Us?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map marker"></span><span class="text">577 Boul Henri-Bourassa E, Montréal, QC H2C 1E2</span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+1 514 502 1234</span></a></li>
                                <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">crowdfunidng@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>