<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/design.css">
</head>

<body>
	<form name="regform" action="/userSignin" method="POST">
		<div class="container">
			<center>
				<img src="/imgs/logo.jpeg" alt="Company Logo" style="width: 100px; height: 100px">
				<h1>Sign In</h1>
				<p style="color: red; font-size: 10px;"><%- error %></p>
				<table>
					<tr>
						<td><label for="uname"><b>Username : </b></label></td>
						<td><input type="text" placeholder="Enter Username" name="uname" id="uname"></td>
					</tr>
					<tr>
						<td><label for="pwd"><b>Password : </b></label></td>
						<td><input type="password" placeholder="Enter Password" name="pwd" id="pwd" ></td>
					</tr>
				</table>

				<button type="submit" class="registerbtn"><strong>Sign In</strong></button>
				<button type="cancel" class="cancelbtn"><strong>Cancel</strong></button> <br> <br>

			</center>

			<hr>

			<div class="container2 signin">
				<p>Don't have an account? <a href="/signup">Sign Up</a></p>
			</div>
		</div>

	</form>
</body>

</html>